@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap");

:root {
  --primary-color: #0176c3;
  --secondary-color: #1d242c;
  --teritiary-color: #c7eeff;
  --white: #fafafa;
  --light-blue: #cce4f3;
  --black: #000000;
  --very-dark-blue: #0162a2;
  --primary-btn-hover: #2b8dcd;
  --primary-btn-clicked: var(--very-dark-blue);
  --primary-btn-disabled: #aad1eb;
  --secondary-btn-hover: var(--primary-btn-disabled);
  --secondary-btn-clicked: #80bae1;
  --secondary-btn-disabled: var(--white);
  --secondary-btn-disabled-text: #b4b6b9;
  --grey: #d9d9d9;
}
/* GENERAL STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: transparent;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: var(--light-blue);
}
.nav-links-parent {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
}
.nav-links-parent li a {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 500;
}
.active {
  color: var(--primary-color) !important;
}
.logo img {
  /* width: clamp(55px, 100%, 120px ) */
  width: 102px;
}
.white-line {
  height: 1rem;
  width: 100%;
  background-color: white;
}
.blue-line {
  height: 1rem;
  width: 100%;
  background-color: var(--very-dark-blue);
}
button:hover,
#submit:hover,
input[type="submit"]:hover {
  background-color: var(--primary-btn-hover);
}
button:focus,
#submit:focus,
input[type="submit"]:hover {
  background-color: var(--primary-btn-clicked);
}
button:disabled,
#submit:disabled,
input[type="submit"]:disabled {
  background-color: var(--primary-btn-disabled);
}
.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile img {
  width: 2rem;
  border-radius: 50%;
}
.profile-dropdown {
  display: flex;
  flex-direction: column;
}
.profile-dropdown .arrow-down {
  width: 1rem;
}
.profile-email p {
  font-size: 0.8em;
  font-family: "kanit";
}
.create-qr {
  display: flex;
}
.sidebar {
  width: 18rem;
  /* background-color: yellow; */
  padding: 2rem 0rem;
  border-right: 1px solid var(--light-blue);
}
.sidebar .sidebar-link {
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
}
.sidebar .sidebar-link:hover {
  background-color: var(--light-blue);
  position: relative;
}
.sidebar ul .sidebar-link img {
  margin-right: 1rem;
}
.sidebar ul li:hover.sidebar-link::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: var(--very-dark-blue);
}
.create {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  /* background-color: blue; */
}
.qr-method {
  padding-top: 2rem;
}
.qr-method h1 {
  text-align: center;
  font-size: 2.67em;
}
.select-qr-method {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  gap: 15%;
  /* background-color: yellow; */
}
.select-qr-method .method {
  border: 1px solid var(--very-dark-blue);
  padding: 4rem 5rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.select-qr-method h2 {
  font-size: 2.67em;
  font-weight: 400;
  text-align: center;
}

/* recents */
.recents {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
}
td,
tr {
  text-align: left;
  padding: 1.2rem 0;
  font-family: "kanit", sans-serif;
}
tr td:first-child {
  position: relative;
  padding-left: 4rem;
}
td div {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  background-color: var(--grey);
  left: 0;
  border-radius: 50%;
}
td div img {
  position: absolute;
  inset: 0 0;
  margin: auto;
}
th {
  padding: 2rem 0;
  border-spacing: none;
  border-bottom: 2px solid var(--very-dark-blue);
  position: relative;
}
/* .table-heading::after {
    height: 1em;
    display: table-row;
    content: '';
    background-color: yellow;
  } */
.table-heading {
  border-spacing: 3rem;
}

/* get qr section */
.qr-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 5rem 8rem;
}
.qr-flex h1 {
  font-size: 2em;
  font-weight: 700;
}
.enter-url,
.select-file {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  /* padding: 1rem 0rem; */
  max-width: 420px;
  gap: 2rem;
  /* width: 100%; */
  /* background-color: yellow; */
}
.input-url {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* position: relative; */
}
.input-group {
  position: relative;
}
.input-url img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1rem;
  margin: auto 0;
}
.input-url .url {
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 1px solid;
}
#submit-url,
.file-label {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 1em;
  text-align: center;
  width: 100%;
}
.generated-qr {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  max-width: 420px;
  border-radius: 1rem;
  border: 1px dashed;
  padding: 3rem;
  gap: 2rem;
}
.qr {
  margin: auto;
}
.download-qr {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.download-qr h3,
.choose-file h1 {
  margin-bottom: 1rem;
}
.download {
  padding: 1rem;
  background-color: var(--primary-color);
  border-radius: 0.8rem;
  border: none;
  color: white;
}
.select-file {
  width: 420px;
}
.select-file {
  border: 1px dashed;
  height: fit-content;
  padding: 10rem 2rem 1rem;
  position: relative;
  max-width: 488px;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
}

.select-file img {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  margin: auto;
}
#file {
  background-color: var(--primary-color);
  display: none;
}
