.form-list {
    margin-top: 10%;
}
button {
    cursor: pointer !important;
}
label {
    font-size: 16px;
    font-family: sans-serif;
    color: black;
}
input {
    font-family: sans-serif;
    display: block;
    width: 100%;
    padding: 2.4%;
    margin-top: 1%;
    margin-bottom: 4%;
    border-radius: 5px;
    border: 1px solid rgba(2, 2, 2, 0.3);
}
textarea {
    width: 100%;
    height: 150px;
    padding: 1%;
    margin-top: 1%;
    border-radius: 5px;
    border: 1px solid rgba(2, 2, 2, 0.3);
}
.submit {
    color: white;
    font-size: 18px;
    font-weight: bolder;
    font-family: sans-serif;
    background-color: #0176C3;
    margin-top: 5%;
    border-radius: 5px;
    border: none;
    width: 40%;
    padding: 3%;
    cursor: pointer;
}

.section-b1 {
    background-color: var(--white);
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}
.section-b1 article {
    padding: 1rem 2rem;
    width: 50%;
}
.section-b1 article p{
    width: 100%; 
    text-align: justify; 
    display: block; 
    line-height: 1.7; 
    margin: 30px 0;
    font-size: 1.2rem;
}
.section-b1 article h1 {
    font-size: clamp(1.8rem, 40px, 3.5rem);
    color: var(--secondary-color);
    font-weight: 700;
}
.section-b1 .article-image {
    width: 50%;
}
.section-b1 .article-image img {
    width: 100%;
}
@media only screen and (max-width: 962px) {
    .section-b1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .section-b1 article {
        width: 100%;
        padding: 1rem 0;
    }
    .section-b1 .article-image {
        width: 100%;
    }
    .form-list {
        margin: auto;
    }
    label {
        text-align: left !important;
    }
    input {
        /* width: 90%; */
        border: 1px solid rgba(2, 2, 2, 0.3);
        margin-top: 1%;
    }
    textarea {
        /* width: 90%; */
        border: 1px solid rgba(2, 2, 2, 0.3);
        height: 100px;
    }
    .submit {
        width: 90%; 
    }
}