.h-header {
    background-color: #CCE4F3;;
    width: 100%;
    /* height: 150px; */
    /* margin: 4%; */
    padding: 1rem 2rem;
}
.h-connect {
    width: 80px;
    /* height: 100px; */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-inline-start: 75px;
}
button {
    cursor: pointer !important;
}
.h-nav-bar {
    display: flex;
    justify-content: space-between;
}
.h-nav-items {
    font-weight: bold;
    /* margin-left: 600px; */
    /* margin-top: -43px; */
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.h-nav-item {
    /* margin-right: 80px; */
    padding: 1rem 2rem;
}
.h-nav-item a {
    display: inline-flex;
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(18,18,18);
    text-decoration: none !important;
}
.h-nav-active a{
    color: rgb(241,111,4) !important;   
}
.h-nav-item a:hover {
    color: rgb(241,111,4);
}
.h-nav-items li, .h-nav-overflow li {
    list-style: none;
}
.h-menu {
    display: none;
    z-index: 10;
}
.h-menu-list{
    background-color: white;
    width: 35px;
    height: 3px;
    margin-bottom: 7px;
}
.h-started {
    color: white;
    font-size: 18px;
    background-color: rgb(241,111,4);
    border-radius: 5px;
    border: 1px solid rgb(241,111,4);
    padding: 1rem 1.5rem;
    cursor: pointer;
}
.h-started:hover{
    background-color: rgb(121,55,2);
}

.hheader {
    position: sticky;
    top: 0;
    z-index: 8;
    box-shadow: 0px 1px 5px #888888;
}
.blue-line {
    width: 100%;
    height: 12px;
    background-color: #0176C3;
}
.white-line {
    width: 100%;
    height: 8px;
    background-color: white;
}
.unsee {
    display: none;
}
@media all and (max-width: 980px) {
    .h-nav-overflow {
        background-color: #CCE4F3;
        width: 55%;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        padding: 9rem 2rem 1rem;
        z-index: 9;
        margin: 0;
    }
    .h-nav-active a {
    color: rgb(18,18,18) !important;   
    }
    .o-menu div:nth-child(1){
        visibility: hidden;
    }
    .o-menu div:nth-child(3){
        visibility: hidden;
    }
    .o-menu div:nth-child(2){
        transform: rotate(45deg);
        position:relative;
    }
    .o-menu div:nth-child(2)::before{
        content: "";
        position: absolute;
        left: 0px;
        top: 0;
        width: 35px;
        height: 3px;
        background-color: rgb(18,18,18);
        transform: rotate(90deg);
    }
    .h-connect {
        width: 60px;
        margin: 0;
    }
    .h-nav-bar{
        flex-direction: column;
    }
    .h-nav-items{
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .h-nav-item {
        padding: 1.5rem 0;
    }
    .h-nav-item a {
        color: rgb(241,111,4);
        font-size: 16px;
    }
    .h-menu-list {
        background-color: rgb(18,18,18);
    }
    .h-menu {
        display: block;
        position: absolute;
        top: 1.8rem;
        right: 2rem;
        cursor: pointer;
    }
    .h-active {
        display: block;
    }
}