* {
    box-sizing: border-box;
}
body {
    /* height: 1200px; */
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer !important;
}
.imagesmall{
    display: none;
    width: 80%;
    margin: 0 auto;
}
.container-1 > div:nth-child(1) {
    width: 50%;
}
.container-1 > div:nth-child(2) {
    width: 50%;
}
.container-1 > div:nth-child(2) > img {
    width: 100%;
}
.container-1 {
    width: 90%;
    margin: auto;
    display: flex;
}
span {
    color: #0176C3;
}

.container-1 p {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bolder;
}
.text p {
    font-size: 25px;
    font-weight: 500;
}
.socials {
    width: 90%;
}
.btn {
    color: white;
    font-size: 18px;
    background-color: rgb(241,111,4);
    border-radius: 5px;
    padding: 1rem;
    margin-top: 2%;
    cursor: pointer;
    border: 1px solid rgb(241,111,4);
}
.btn1 {
    background-color: rgb(255,244,235);
    margin-left: 1%;
    border: 1px solid rgb(241,111,4);
    color: rgb(121,55,2);
    font-size: 18px;
    font-weight: bolder;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 2%;
    cursor: pointer;
}
.btn1:hover{
    background-color: rgb(121,55,2);
    color: rgb(255,244,235);
}
.btn:hover {
    color: rgb(121,55,2);
    background-color: rgb(255,244,235);
}
footer {
    display: flex;
    justify-content: center;
}
.img1 {
    font-size: 26px;
}
.img2 {
    margin-left: 10px;
}
.img3 {
    margin-left: 10px;
}
hr {
    width: 80%;
    height: 4px;
    margin-top: -1%;
    margin-left: 13%;
    background-color: #0176C3;
}

.unsee {
    display: none;
}
@media all and (max-width: 980px) {
    .container-1 {
        width: 90%;
        display: block;
    }
    .container-1 > div:nth-child(1) {
        width: 100%;
    }
    .container-1 > div:nth-child(2) {
        display: none;
    }
    .imagesmall{
        display: block;
    }
    .container-1 p {
        text-align: center;
        font-size: 28px;
    }
    .images {
        width: 100%;
    }
    .text p {
        font-weight: 500;
        font-size: 20px;
    }
    .btn {
       display: none;
    }
    .btn1 {
        background-color: #0176C3;
        border: 1px solid #0176C3;
        color: #FDFDFD;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        margin: 0 auto;
        display: block;
    }
    footer {
        /* margin-top: 150%; */
        /* height: 100px; */
    }
    .img1 {
        width: 10%;
        margin-left: 35%;
        margin-top: 10%;
    }
    .img2 {
        width: 10%;
        margin-left: -2%;
    }
    .img3 {
        width: 10%;
        margin-left: -2%;
    }
    hr {
        width: 80%;
        height: 4px;
        margin-top: -14%;
        margin-left: 8%;
        background-color: #0176C3;
    }
}
    
